<div ng-controller="form">
    <br>
        <div style="text-align:center;"><h2>Customer Form Entry</h2></div>
        <div class="row" style="margin-top: 20px;">
      
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
    <form >
            Enter Customer Name:       
            <input type="text" ng-model="name" class="form-control"><br>
            Enter the age:<input type="date" ng-model="date" class="form-control"><br>
           
            Enter the mobile Number:<input type="text" ng-model="number" class="form-control"><br>
            Enter the Email id:<input type="text" ng-model="email" class="form-control"><br>
            Enter the address:<textarea type="text" ng-model="address" col="5"  class="form-control"></textarea>
            </textarea>
           <br>
            <button class="btn btn-secondary" ng-click="submit()">submit</button>
    </form>
    </div>
    </div>
  
 </div>   

